body {
    background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
    font-family: 'a Atmospheric';
    font-weight: 500;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
    width: 330px;
    margin: auto;
    background: #e1e8f0;
    padding: 15px;
    border-radius: 20px;
    max-width: 100%;
}

.cell {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-bottom: 6px solid #d1d8e0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #f1f2f6;
    transform: translateY(-3px);
}

.cell:active {
    transform: translateY(3px);
    border-bottom: 2px solid #d1d8e0;
}

#player {
    color: red;
    font-weight: bold;
}

#message {
    color:green;
    font-size: 20px;  
    font-weight:bold;
}

button {
    margin-top: 15px;
    padding: 10px 35px;
    font-size: 15px;
    font-weight: bold;
    background: #be313c; 
    color: white;
    border: none;
    border-radius: 50px; 
    border-bottom: 5px solid #da311e; 
    cursor: pointer;
}

button:hover {
    background: #8e0c20;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    border-bottom: 2px solid #c0392b;
}
